DATABASE_URL=''

# Better Auth
BETTER_AUTH_SECRET=''
BETTER_AUTH_URL='http://localhost:3000' # Base URL of your app

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

GITHUB_CLIENT_ID=''
GITHUB_CLIENT_SECRET=''

# AI-Providers
GEMINI_API_KEY=""
OPENAI_API_KEY=""

# PADDLE SANDBOX CREDENTIALS
PADDLE_API_KEY=""
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=""
NEXT_PUBLIC_PADDLE_ENV="sandbox"
NEXT_PUBLIC_PADDLE_PREMIUM_MONTHLY_PRICE_ID=""